/* Import von Google Fonts - Poppins Schriftart*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#F1FAFF, #CBE4FF);
    flex-direction: column;
    display: flex;
}

.page-content {
    flex: 1;
    margin-left: 116px; /* 270px Sidebar + 2×16px Margin */
}

.sidebar {
    position: fixed;
    width: 270px;
    margin: 16px;
    border-radius: 16px;
    background: #151A2D;
    height: calc(100vh - 32px);
    transition: all 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar .sidebar-header {
    display: flex;
    position: relative;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header .toggler {
    height: 35px;
    width: 35px;
    color: #151A2D;
    border: none;
    cursor: pointer;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 20px;
}

.sidebar-header .menu-toggler {
    display: none;
}

.sidebar.collapsed .sidebar-header .toggler {
    transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
    background: #dde4fb;
}

.sidebar-header .toggler span {
    font-size: 1.75rem;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggler span {
    transform: rotate(180deg);
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(65px);
}

.sidebar-nav .nav-link {
    color: #fff;
    display: flex;
    gap: 12px;
    white-space: nowrap;
    border-radius: 8px;
    padding: 12px 15px;
    align-items: center;
    text-decoration: none;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link {
    border-radius: 12px;
}

.sidebar .sidebar-nav .nav-link .nav-label {
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .nav-link:hover {
    color: #151A2D;
    background: #fff;
}

.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .nav-tooltip {
    position: absolute;
    top: -10px;
    opacity: 0;
    color: #151A2D;
    display: none;
    pointer-events: none;
    padding: 6px 12px;
    border-radius: 8px;
    white-space: nowrap;
    background: #fff;
    left: calc(100% + 25px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
    display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(50%);
    transition: all 0.4s ease;
}

.sidebar-nav .nav-icon {
    color: #ffffff;
    transition: color 0.3s ease;
}

/* Icon der aktuell aktiven Seite */
.sidebar-nav .nav-link.active .nav-icon {
    color: #4caf50;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

/* Responsive media query code for small screens */
@media (max-width: 1024px) {
    .sidebar {
        height: 56px;
        margin: 13px;
        overflow-y: hidden;
        scrollbar-width: none;
        width: calc(100% - 26px);
        max-height: calc(100vh - 26px);

        body {
            margin-left: 0;
        }
        .page-content {
            margin-left: 0;
        }
    }

    .sidebar.menu-active {
        overflow-y: auto;
    }

    .sidebar .sidebar-header {
        position: sticky;
        top: 0;
        z-index: 20;
        border-radius: 16px;
        background: #151A2D;
        padding: 8px 10px;
    }

    .sidebar-header .header-logo img {
        width: 40px;
        height: 40px;
    }

    .sidebar-header .sidebar-toggler,
    .sidebar-nav .nav-item:hover .nav-tooltip {
        display: none;
    }

    .sidebar-header .menu-toggler {
        display: flex;
        height: 30px;
        width: 30px;
    }

    .sidebar-header .menu-toggler span {
        font-size: 1.3rem;
    }

    .sidebar .sidebar-nav .nav-list {
        padding: 0 10px;
    }

    .sidebar-nav .nav-link {
        gap: 10px;
        padding: 10px;
        font-size: 0.94rem;
    }

    .sidebar-nav .nav-link .nav-icon {
        font-size: 1.37rem;
    }

    .sidebar-nav .secondary-nav {
        position: relative;
        bottom: 0;
        margin: 40px 0 30px;
    }
}



/* ------------------- Fußleiste -------------------------------- */

/* Start der Fußleiste */
*, *:before, *:after {
    box-sizing: border-box;
  }
  
    html {
    font-size: 100%;
  }

/* Fußleiste */
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    margin-left: 116px;
    margin-top: auto;
    margin-bottom: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
  
    .footer > * {
    flex:  1 100%;
}
  
    .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}
  
    .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}
  
    .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}
  
    .nav__title {
    font-weight: 400;
    font-size: 15px;
}
  
    .footer address {
    font-style: normal;
    color: #999;
}
  
    .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}
  
    .footer ul {
    list-style: none;
    padding-left: 0;
}
  
    .footer li {
    line-height: 2em;
}
  
    .footer a {
    text-decoration: none;
}
  
    .footer__nav {
    display: flex;
    flex-flow: row wrap;
}
  
    .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}
  
    .nav__ul a {
    color: #999;
}
  
    .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}
  
    .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}
    
    .legal__links {
    display: flex;
    align-items: center;
}
  
    .heart {
    color: #2f2f2f;
}
  
    @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
}
  
    @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
}